:host {
    flex: 1;
}

.container {
    display: flex;
    height: 100vh;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    padding: 200px;
    opacity: 1;
    transition: all 1s;
}

.showcase {
    height: 100vh;
    display: flex;
    color: #fff;
    padding: 0 20px;
    z-index: -100;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.path {
    color: white;
}

.path:hover {
    cursor: pointer;
}

iframe {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70vh;
    border: none;
}

video {
    width: 85%;
}

.inactive {
    opacity: 0;
    transition: all 1s;
}

.inactiveHandClick {
    opacity: 0;
    transition: all 1s;
    position: absolute;
    left: 39%;
    bottom: 27%;
}

.activeHandClick {
    position: absolute;
    left: 39%;
    bottom: 27%;
    opacity: 1;
    transition: all 2s;
}

.iconBtn:hover {
    background-color: aliceblue !important;
}

.errorActive {
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 30%;
    bottom: 50%;
}
.docName {
    color: white;
    font-size: 1.5rem;
}
